.wrapper {
  background-color: #ffffff;
  width: 90%;
  height: 80%;
  border-radius: 11px;
  overflow-y: hidden;

  .headerWrapper {
    padding: 20px 20px 0 20px;
  }

  .userList {
    height: 100%;
    max-height: 73%;
    padding-left: 40px;
    overflow-y: scroll;
    @media (max-width: 768px) {
      padding: 7px;
    }
  }
}
